[submodule "breakout-game"]
	path = breakout-game
	url = https://github.com/Galvandi/breakout-game
[submodule "exercise-instagram-clone"]
	path = exercise-instagram-clone
	url = https://github.com/Galvandi/exercise-instagram-clone
[submodule "exercise-google-clone"]
	path = exercise-google-clone
	url = https://github.com/Galvandi/exercise-google-clone
[submodule "online-resume"]
	path = online-resume
	url = https://github.com/andreas-schoch/online-resume
[submodule "p2p-test-plugin"]
	path = p2p-test-plugin
	url = https://github.com/derpmasters/p2p-test-plugin
